extends layout 

block content
  h1 Welcome to the Book Registry! 
  div.about
    div.description 
      p This simple book registry web app was produced as a program requirement for the Full Stack JavaScript Techdegree offered by Team Treehouse.
      p The site uses Node.js, Express.js, pug, sqlite and sequelize to create a dynamic registry, allowing users to add, sort, delete, and update entries in the database.
    div.image 
      