header
      nav
      
        li
          a.home(href='../') Book Registry
        li
          a.button(href='../') Home
        li
          a.button(href='../about') About
        li
          a.button(href='../books/new') Create New Book
          
      include search
